<%- include('../partials/header.ejs')  %>

<title>CADASTRO DE INSTRUMENTO - LIBRI</title>

</head>

<body>
    
    <div class="container">

        <%- include('../partials/menu.ejs') %>

        <div class="card mt-2">
            <div class="card-header">CADASTRO DE INSTRUMENTOS</div>
        </div>

        <div class="card-body">
            <form action="http://localhost:3000/inserirInstrumento" method="post">
                
                <label for="">INSTRUMENTO</label>
                <input type="text" class="form-control" 
                        name="nome_instrumento" id="nome_instrumento"
                        placeholder="DIGITE UM INSTRUMENTO">
                
                <button class="btn btn-success mt-2">CADASTRAR</button>
            </form>
        </div>
    </div>

    </body>

<%- include('../partials/footer.ejs')  %>